<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdmazingApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AdmazingWatch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AdmazingWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F91FAB331D18785D0096937A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91FAB471D18785D0096937A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91FAB521D18785D0096937A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F99496F41D18A3F80007FE29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
